<!-- head is started here -->
<%- include('../common/_header.ejs') %>
    <title>Revour - Sign in</title>
    <link rel="stylesheet" href="/css/auth.css">
    <script src="/js/signin.js"></script>
    </head>

    <body>
        <%- include('../common/_navBar.ejs') %>
            <% if(messages.error){ %>
                <script>alert("<%= messages.error %>");</script>

                <% } %>
                    <div class="container contentBody">
                        <form id="signin" class="authBox" action="/auth/signin" method="post">
                            <h1>Sign in</h1>
                            <input name="email" required type="email" id="email" placeholder="Email">
                            <input name="password" required type="password" id="password" placeholder="Password">
                            <button type="submit">Sign in</button>
                        </form>

                    </div>
                    <%- include('../common/_footer.ejs') %>
    </body>

    </html>