<!-- head is started here -->
<%- include('../common/_header.ejs') %>
    <title>Control Panel</title>
    <link rel="stylesheet" href="/css/controlPanelSideBar.css">
    </head>

    <body>
        <%- include('../common/_navBar.ejs') %>
            <div class="contentBody d-flex">
                <%- include('../common/_sidebar.ejs') %>
                    <div class="controlBody w-100">
                        <h1 class="text-center">Reported Reviews</h1>
                    </div>
            </div>
            <%- include('../common/_footer.ejs') %>
    </body>

    </html>