<!-- head is started here -->
<%- include('../common/_header.ejs') %>
    <title>About - <%= user.username %>
    </title>
    </head>

    <body>
        <%- include('../common/_navBar.ejs') %>
            <h1>
                <%= user.name %>
            </h1>
    </body>

    </html>