<% var pageTitle="About - " +user.username %>
    <!-- body is started here -->
    <%- include('../common/_header.ejs',{pageTitle:pageTitle}) %>
        <h1>
            <%= user.name %>
        </h1>
        </body>

        </html>