* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* making all buttons rounded cornered */
.btn {
  border-radius: 15px;
}
.btn:hover {
  color: #eee;
}

.contentBody {
  margin-bottom: 30px;
  min-height: 75vh;
  position: relative;
}

/* styling navbar starts */
.navbar-brand img {
  height: 60px;
}

.navbar-nav {
  column-gap: 30px;
}
/* styling navbar ends */

/* styling footer starts */
#footer {
  background-color: rgb(16, 50, 70);
  font-size: 18px;
  padding: 20px 0;
  color: #ddd;
}

#footer .container {
  display: flex;
  justify-content: space-between;
}

#footer .container .socialPanel {
  display: flex;
  column-gap: 20px;
}

/* styling footer ends */
