/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
  height: 500px;
}

.mainBody {
  display: flex;
  column-gap: 50px;
  padding: 30px 0;
}

.serchDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 0;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}

.serachBox {
  display: flex;
  column-gap: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.midDiv {
  display: flex;
  justify-content: space-between;
}

.mapboxgl-popup {
  max-width: 200px;
  text-align: center;
}
#marker {
  background-image: url("/images/logo/marker.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.popUpBtn {
  font-size: 12px;
  display: block;
  margin: 5px auto;
  padding: 5px;
}
