.formOption {
  margin: 20px 0;
}

#updateProfile {
  width: 50%;
}
.profilePicture {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.profilePicture img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.updateBody {
  margin-top: 100px;
}
