<!-- head is started here -->
<%- include('../common/_header.ejs') %>
    <link rel="stylesheet" href="/css/search.css">
    <title>Revour - tourist spot review site
    </title>
    </head>

    <body>
        <%- include('../common/_navBar.ejs') %>
            <div id="map"></div>
            <div class="serachBox">
                <!-- <form class="w-25 mt-5 m-auto" action=""> -->
                <input class="form-control searchPlace" type="text">
                <button onclick="searchPlaces()" class="btn btn-danger">Go</button>
                <!-- </form> -->
            </div>
            <script src="/js/mapBox.js"></script>

            </html>