<section id="footer">
    <div class="container">
        <div class="socialPanel">
            <a href="#" class="text-info"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-info"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-info"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <span><a href="#" class="text-info">@COPYRIGHT2020-2025</a> by Cypher Trio</span>
        </div>
    </div>
</section>