<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/logo/logo1backless.png" alt="Revour"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item mb-3 mb-lg-0">
                    <a href="/search"><button class="btn btn-outline-primary">Search</button></a>
                </li>
                <li class="nav-item mb-3 mb-lg-0">
                    <a href="/new-review"><button class="btn btn-outline-primary">Review</button></a>
                </li>
                <li class="nav-item dropdown mb-3 mb-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <% if(typeof user==='undefined' ){ %>
                            <li><a class="dropdown-item" href="/auth/signup">Sign up</a></li>
                            <li><a class="dropdown-item" href="/auth/signin">Sign in</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <% }else{ %>
                                <li><a class="dropdown-item" href="#">My reviews</a></li>
                                <li><a class="dropdown-item" href="/profile/about">My Info</a></li>
                                <li>
                                    <form action="/auth/signout?_method=DELETE" method="POST">
                                        <button type="submit" class="dropdown-item">Sign out</button>
                                    </form>
                                </li>
                                <% } %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>