<div class="sideBar">
    <div class="option">
        <a href="/control-panel/">Control Panel Home</a>
    </div>
    <div class="option">
        <a href="/control-panel/redeem-requests">Redeem Requests</a>
    </div>
    <div class="option">
        <a href="/control-panel/reported-reviews">Reported Reviews</a>
    </div>
    <% if (user.role=="admin" ) { %>
        <div class="option">
            <a href="/control-panel/moderators">Manage users</a>
        </div>
        <div class="option">
            <a href="/control-panel/rewards">Manage rewards</a>
        </div>
        <% } %>
</div>